$logo: './img/start.png';
$logoAfter: './img/end.png';

.node-outputs {
  align-self: center;
}
.before {
  background-image: url($logo);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  position: relative;
  left: -6px;
  content:"";
  cursor: pointer;
}
.after {
  background-image: url($logoAfter);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  position: relative;
  right: -6px;
  content:"";
  cursor: pointer;
}