$connector-color: #606060;
$graph-red: #ac445c;
$primary-graph-color: #4caa4d;
$graph-yellow: #c1b827;

.spline {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.startPoint {
	width: 20px;
	height: 20px;
	border: 2px solid black;
	border-radius: 50%;
}

.connector {
  fill: none;
  stroke: $connector-color;
  stroke-width: 3;
  stroke-linecap: round;
}

// .edge-svg {
//   -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7));
//   filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7));
// }

// .spline-end, .spline-start {
//   fill: #606060;
// }

// .connector-click-area {
//   cursor: pointer;
//   fill: none;
//   stroke: transparent;
//   stroke-width: 20;
// }

// .connector-click-area:hover + .connector,
// .connector:hover, .connector.incomplete {
//   stroke: #d5d5d5;
//   cursor: pointer;
//   stroke-width: 4;
// }

// .connector.highlight {
//   stroke: $graph-red;
//   z-index: 11;
// }

// .connector.transmitting {
//   stroke: $primary-graph-color;
//   stroke-width: 5;
// }

// .connector-click-area:hover + .connector.selected,
// .connector.selected, .connector.selected:hover {
//   stroke: $graph-yellow;
//   stroke-width: 6;
// }