$logo: './img/start.png';
$logoAfter: './img/end.png';

.node {
  position: absolute;
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr auto auto;
  grid-gap: 4px;
  font-size: 0.7em;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #dfdfdf;
  cursor: default;
}
.nodeInputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nodeName {
  background-color: black;
  display: grid;
  align-items: center;
}
.nodeNameText {
  margin: 2px;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.nodeOutputs {
  align-self: center;
  justify-self: center;
}
.after {
  background-image: url($logoAfter);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  position: relative;
  right: -6px;
  content:"";
  cursor: pointer;
}
.before {
  background-image: url($logo);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  position: relative;
  left: -6px;
  content:"";
  cursor: pointer;
}
.nodeInformation {
  position: absolute; 
  z-index: 2;
  transform: translate(60%, 55%);
  width: 200px;
  height: 150px;
  display: grid;
  grid-template-rows: 40px 30px auto;
  grid-template-columns: 100%;
  border: 1px solid gray;
}
.title {
  background-color: #ffd25f;
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: 15px;
  align-content: center;
  font-size: 1.2em;
}
.info {
  background-color: #ffffc0;
  padding: 2px;
}
.description {
  background-color: #ebebb1;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 100%;
  justify-content: center;
  align-content: center;
}
.descriptionText {
  position: relative;
  margin: 5px;
  padding: 4px;
  border: 0.1em solid rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: inset -1.5px 1.5px 4px 0 rgba(0,0,0,0.2);
}
.hexagon {
  background-color: black;
  margin-left: 10px;
}