body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 28px 24px 21px 78px 27px auto 20px;
  align-items: center;
  font-family: "Segoe UI";
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}