.subtools-list {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1.2em;
	align-items: center;
	background-color: #dfdfdf;
	color: #333333;
	border: 1px solid gray;
	border-radius: 4px;
	div {
		&:hover {
			background-color: #eeeeee;
		}
		padding: 10px;
	}
	z-index: 1;
}
.geometries {
	display: grid;
	grid-template-columns: 30px auto 30px auto;
	grid-template-rows: 15px;
	align-items: center;
	grid-gap: 5px;
}